[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
black = "*"
langchain-pinecone = "*"
python-dotenv = "*"
langchainhub = "*"
langchain-anthropic = "*"
langchain-google-genai = "*"

[dev-packages]

[requires]
python_version = "3.11"
